<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="default" connectionString="Server=.;Database=JoshWangTopic;User Id=sa;Password=666666;MultipleActiveResultSets=true;Connect Timeout=15;Max Pool Size=100;Application Name=WinDemo" />
	</connectionStrings>
</configuration>